{% if quadsIn.length > 0 %}
    <p>Incoming quads</p>

    <table>
        <tr>
            <th>s</th>
            <th>p</th>
            <th>o</th>
            <th>g</th>
        </tr>
        {% for quad in quadsIn %}
            <tr>
                <th>{{ quad.subject | shrink }}</th>
                <th>{{ quad.predicate | shrink }}</th>
                <th>{{ quad.object | shrink }}</th>
                <th>{{ quad.graph | shrink }}</th>
            </tr>
        {% endfor %}
    </table>

{% endif %}
