{% if quadsIn.length > 0 %}
    <p>Incoming quads</p>

    <table>
        <tr>
            <th>s</th>
            <th>p</th>
            <th>o</th>
            <th>g</th>
        </tr>
        {% for quad in quadsIn %}
            <tr>
                <th>{{ quad.subject }}</th>
                <th>{{ quad.predicate }}</th>
                <th>{{ quad.object }}</th>
                <th>{{ quad.graph }}</th>
            </tr>
        {% endfor %}
    </table>

{% endif %}
