<!DOCTYPE html>
<html lang="en">

<head>
    {% include head %}
    <link rel="stylesheet" href="/assets/style.css"/>
</head>

<body>
<!-- Send the URL of the iframe back to the parent window -->
<script>
    window.parent.postMessage({ type: 'iframeUrl', url: window.location.href }, '*');
</script>
<div>{{ content }}</div>
{% include quadsIn %}
{% include quadsOut %}
{% comment %}{% include allnotes %}{% endcomment %}
<footer>
    <a href="/"> back </a>
    <br/>
    <small> '{{ site.title }}' was made with ❤ by '{{ site.author }}'</small>
</footer>
</body>

</html>
